<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--指定数据库方言-->
            <property name="helperDialect" value="mysql"/>
            <!--分页合理化，超过边界则以边界值查询-->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>

</configuration>