<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gmwenterprise.website.dao.CommentDao">

    <resultMap id="BaseResultMap" type="comment">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="comment_writer" jdbcType="VARCHAR" property="commentWriter"/>
        <result column="comment_content" jdbcType="VARCHAR" property="commentContent"/>
        <result column="comment_belong" jdbcType="INTEGER" property="commentBelong"/>
        <result column="create_datetime" jdbcType="TIMESTAMP" property="createDatetime"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
    </resultMap>

    <sql id="Base_Column_List">
        a.`id`,
        a.`comment_writer`,
        a.`comment_content`,
        a.`comment_belong`,
        a.`create_datetime`,
        a.`status`
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from comment a
        where a.`id` = #{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from comment a
        <where>
            <if test="commentWriter != null">
                and a.`comment_writer` = #{commentWriter,jdbcType=VARCHAR}
            </if>
            <if test="commentContent != null">
                and a.`comment_content` = #{commentContent,jdbcType=VARCHAR}
            </if>
            <if test="commentBelong != null">
                and a.`comment_belong` = #{commentBelong,jdbcType=INTEGER}
            </if>
            <if test="createDatetime != null">
                and a.`create_datetime` = #{createDatetime,jdbcType=TIMESTAMP}
            </if>
            <if test="status != null">
                and a.`status` = #{status,jdbcType=TINYINT}
            </if>
        </where>
    </select>

    <delete id="deleteByPrimaryKey">
        delete
        from comment a
        where a.`id` = #{id}
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into comment (
            `comment_writer`,
            `comment_content`,
            `comment_belong`,
            `create_datetime`,
            `status`
        ) values (
            #{commentWriter,jdbcType=VARCHAR},
            #{commentContent,jdbcType=VARCHAR},
            #{commentBelong,jdbcType=INTEGER},
            #{createDatetime,jdbcType=TIMESTAMP},
            #{status,jdbcType=TINYINT}
        )
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commentWriter != null">
                `comment_writer`,
            </if>
            <if test="commentContent != null">
                `comment_content`,
            </if>
            <if test="commentBelong != null">
                `comment_belong`,
            </if>
            <if test="createDatetime != null">
                `create_datetime`,
            </if>
            <if test="status != null">
                `status`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="commentWriter != null">
                #{commentWriter,jdbcType=VARCHAR},
            </if>
            <if test="commentContent != null">
                #{commentContent,jdbcType=VARCHAR},
            </if>
            <if test="commentBelong != null">
                #{commentBelong,jdbcType=INTEGER},
            </if>
            <if test="createDatetime != null">
                #{createDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective">
        update comment
        <set>
            <if test="commentWriter != null">
                `comment_writer` = #{commentWriter,jdbcType=VARCHAR},
            </if>
            <if test="commentContent != null">
                `comment_content` = #{commentContent,jdbcType=VARCHAR},
            </if>
            <if test="commentBelong != null">
                `comment_belong` = #{commentBelong,jdbcType=INTEGER},
            </if>
            <if test="createDatetime != null">
                `create_datetime` = #{createDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=TINYINT},
            </if>
        </set>
    where id = #{id}
    </update>

    <update id="updateByPrimaryKey">
        update comment
        set
            `comment_writer` = #{commentWriter,jdbcType=VARCHAR},
            `comment_content` = #{commentContent,jdbcType=VARCHAR},
            `comment_belong` = #{commentBelong,jdbcType=INTEGER},
            `create_datetime` = #{createDatetime,jdbcType=TIMESTAMP},
            `status` = #{status,jdbcType=TINYINT}
        where id = #{id}
    </update>
</mapper>